fastapi==0.101.1
pydantic==2.1.1
requests==2.31.0
spacy~=3.6.1
tqdm==4.66.1
uvicorn==0.23.2
transformers==4.31.0
torch~=2.0.1
databind==4.4.0
stanford_openie
# allennlp
# allennlp-models
elasticsearch==7.17.9
pyyaml==6.0.1
nltk~=3.8.1
stanza
spark-nlp~=5.0.2
pyspark
cachetools
aiohttp
flair
number-parser
sentence-transformers==2.2.2
# huggingface_hub
nest-asyncio==1.5.8