fastapi==0.98.0
pydantic==1.10.9
requests==2.31.0
spacy==3.5.3
tqdm==4.65.0
uvicorn==0.22.0
spacyfishing==0.1.8
spacyopentapioca==0.1.7
transformers==4.30.2
torch==2.0.1
databind==4.4.0
stanford_openie
allennlp
allennlp-models
elasticsearch