{{#entities}}
<div class="overlay-entity-container" data-id="{{id}}">
    <div class="overlay-entity">
        <h2 class="overlay-entity-label">{{label}}</h2>
        <a class="overlay-entity-link" href="{{id}}" target="_blank">{{id}}</a>
        <div class="overlay-entity-description">{{description}}</div>
        <div class="overlay-entity-freq">{{frequency}}</div>
    </div>
    <div class="hidden checkmark"><i class="fa-regular fa-square-check fa-2xl"></i></div>
</div>
{{/entities}}