{{#entities}}
<div class="overlay-entity-container">
    <input class="overlay-entity-selection" type="radio" name="entity" value="{{id}}">
    <div class="overlay-entity">
        <h2 class="overlay-entity-label">{{label}}</h2>
        <a class="overlay-entity-link" href="{{id}}" target="_blank">{{id}}</a>
        <div class="overlay-entity-description">{{description}}</div>
        <div class="overlay-entity-freq">{{frequency}}</div>
    </div>
</div>
{{/entities}}