:root {
    --default-color: #006B94;
    --default-font-color: white;
    --default-font: "Helvetica", serif;
    --highlight-color: rgb(0, 107, 148, 0.5)
}

body{
    height: 100%;
}

#content-wrapper{
    top: 0; left: 0; bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    font-family: var(--default-font);
}

.nav-elements{
    background-color: var(--default-color);
}

#site-header {
    width: 100%;
    flex: 0 1 auto;
}

#site-footer{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    align-self: flex-end;
    margin-bottom: 0;
    flex: 0 0 2em;
}

#header-content {
    padding: 20px;
}

#footer-content{
    padding: 10px;
}

.nav-font {
    color: var(--default-font-color);
    font-family: var(--default-font);
}

#header-title {
    font-size: 20pt;
    font-weight: bold;
}

#header-subtitle {
    margin-left: 20px;
    font-size: 12pt;
}

#main-content-container{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /*height: 100%;*/
    position: relative;
    z-index: 0;
}

#main-content {
    width: 90%;
    /*height: 100%;*/
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    align-items: stretch;
    position: relative;
    z-index: 0;
}

.section-container {
    position: relative;
    z-index: 0;
    top: 0;
}

.section-heading {
    position: relative;
    top: 15px;
}

#text-editor-container {
}

#text-editor {
    padding: 10px;
    border: gray 1px solid;
    border-radius: 5px;
    font-family: "Courier", sans-serif;
    font-size: 14pt;
    min-height: 6em;
    /*overflow-x: scroll;*/
    position: relative;
    z-index: 0;
    line-height: 4ex;
}

#text-editor-button-container {
    margin-top: 1em;
    position: relative;
}

#kg-vis-container{
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    padding-bottom: 1em;
}

#kg-vis {
    border: grey 1px solid;
    border-radius: 5px;
    background-color: white;
    flex: 1 0 auto;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.entity {
    background-color: var(--default-color);
    color: var(--default-font-color);
    font-weight: bold;
    position: relative;
    display: inline;
    z-index: 0;
    padding: 4px;
}

.entity-description {
    background-color: var(--default-color);
    color: var(--default-font-color);
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    display: block;
    width: 400px;
    font-family: var(--default-font);
    line-height: normal;
}

.entity:hover {
    background-color: var(--highlight-color);
    transition-delay: 0s;
}

.highlight {
    background-color: var(--highlight-color);
}

.entity .entity-description{
    visibility: hidden;
    bottom: 120%;
    left: 50%;
    margin-left: -200px;
    transition-delay: 0s;
    transition-duration: 100ms;
    position: absolute;
    z-index: 1;
}

.entity .entity-description::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.entity:hover .entity-description{
    visibility: visible;
}

.entity-description header{
    font-size: 16pt;
    position: relative;
    z-index: 2;
}

.entity-description hr{
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    width: 50%;
}

.entity-description div{
    font-style: italic;
    margin-bottom: 1em;
    position: relative;
    z-index: 2;
}

.entity-description a{
    position: relative;
    z-index: 3;
}

.vis-button {
    filter: grayscale(100%);
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

#overlay-content .close {
    position: absolute;
    top: 0;
    right: 0;
}

#overlay-content {
    position: absolute;
    width: 60%;
    height: 50%;
    z-index: 3;
    border-radius: 6px;
    background-color: white;
    padding: 20px;
}

#overlay-entity-result-container {
    margin-top: 2em;
    border: black 1px solid;
    overflow: scroll;
    height: 80%;
}

.overlay-entity-label{
    display: inline;
}

.overlay-entity-container {
    display: flex;
    border: gray 1px solid;
    align-content: center;
}

.overlay-entity {
    margin-left: 1em;
}

.overlay-entity-link{
    padding-left: 2em;
    display: inline-block;
}

.lds-ring {
    display: inline;
    position: relative;
}

.lds-ring div {
    box-sizing: border-box;
    display: inline;
    position: absolute;
    width: 1em;
    height: 1em;
    margin: 5px;
    border: 3px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: gray transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


button {
    font-size: 15pt;
    font-family: "Helvetica", serif;
}